<div>
  <h2 id="page-heading" data-cy="TbBoardViewCntHeading">
    <span jhiTranslate="dbridgeapptestApp.tbBoardViewCnt.home.title">Tb Board View Cnts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="dbridgeapptestApp.tbBoardViewCnt.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tb-board-view-cnt"
        [routerLink]="['/tb-board-view-cnt/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="dbridgeapptestApp.tbBoardViewCnt.home.createLabel"> Create a new Tb Board View Cnt </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tbBoardViewCnts?.length === 0">
    <span jhiTranslate="dbridgeapptestApp.tbBoardViewCnt.home.notFound">No Tb Board View Cnts found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="tbBoardViewCnts && tbBoardViewCnts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="viewCnt">
            <div class="d-flex">
              <span jhiTranslate="dbridgeapptestApp.tbBoardViewCnt.viewCnt">View Cnt</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bdSeq.id">
            <div class="d-flex">
              <span jhiTranslate="dbridgeapptestApp.tbBoardViewCnt.bdSeq">Bd Seq</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tbBoardViewCnt of tbBoardViewCnts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tb-board-view-cnt', tbBoardViewCnt.id, 'view']">{{ tbBoardViewCnt.id }}</a>
          </td>
          <td>{{ tbBoardViewCnt.viewCnt }}</td>
          <td>
            <div *ngIf="tbBoardViewCnt.bdSeq">
              <a [routerLink]="['/tb-board', tbBoardViewCnt.bdSeq.id, 'view']">{{ tbBoardViewCnt.bdSeq.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tb-board-view-cnt', tbBoardViewCnt.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tb-board-view-cnt', tbBoardViewCnt.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tbBoardViewCnt)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
